body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

h1 {
  font-family: helvetica;
}

h6.MuiTypography-root.MuiTypography-h6.MuiTypography-noWrap {
    margin-left: 23%;
}
